$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'sassy-buttons/_sassybuttons.sass';

@mixin st-button-blue
{
    @include sassy-button-gradient("simple", #4d8ccd);

    padding: 5px;
}

.browsehappy
{
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body
{
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Everything side spacing for mobile first views */
.header,
.list,
.footer
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header
{
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 25px;

    @include clearfix;

    /* Make the masthead heading the same height as the navigation */
    h3
    {
        float: left;
        margin-top: 0;
        margin-bottom: 0;

        a
        {
            vertical-align: middle;
        }
    }

    .header-menu
    {
        float: right;

        .user-name
        {
            padding-right: 15px;
        }

        .add-event
        {
            @include st-button-blue;
        }

        .fb-login
        {
            @include st-button-blue;
        }
    }
}

/* Custom page footer */
.footer
{
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr
{
    margin: 30px 0;
}

.events-list
{
    h3>a
    {
        color: black;
    }

    article
    {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ddd;

        p + h3
        {
            margin-top: 28px;
        }

        .reports-count
        {
            font-size:14px;
            color: gray;
            font-weight: normal;
            font-style: italic;
        }
    }
}

.event-details
{
    article
    {
        padding-bottom: 5px;
        margin-top: 20px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ddd;
    }

    >header
    {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ddd;
    }

    .reports-count
    {
        font-weight: bold;
        color: #999;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
    }

    .input-area
    {
        margin-top: 15px;
        margin-bottom: 15px;

        .author-info
        {
            padding-bottom: 10px;
        }
    }

    .write-report
    {
        float: left;
    }
}

.author-info
{
     color: gray;
     @include clearfix;

     .author-name
     {
        font-weight: bold;
     }

     img
     {
         float:left;
         margin-right: 5px;
     }
}



.input-area
{
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 7px;
    margin-bottom: 10px;
}

.dialog, .input-area
{
//    font-family:
    @include clearfix;

    textarea
    {
        width: 100%;
    }

    input[type="button"]
    {
        @include st-button-blue;

        margin-top: 10px;
    }
}

.ngdialog.ngdialog-theme-default
{
    padding-top: 30px;
}

.ngdialog-overlay
{
  background-color: rgba(256, 256, 256, 0.8);
}

.ngdialog.ngdialog-theme-default .ngdialog-content
{
    background-color: #f9f9f9;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid lightgray;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px)
{
    .container
    {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .list,
    .footer
    {
        padding-left: 0;
        padding-right: 0;
    }
}
