<div class="input-area" ng-hide="vm.reported || vm.expanded">
    <textarea ng-hide="vm.expanded" name="ReportText" cols="40" rows="2" placeholder="Write your report"
              ng-click="vm.expand()"></textarea>
</div>

<div class="input-area" ng-show="vm.reported && !vm.expanded">
    You have already reported on this event. <a ng-click="vm.expand()" href="">Edit</a>.
</div>

<div class="main-input-area input-area" ng-show="vm.expanded">
    <div st-author-info profile="editor.author"></div>
    <textarea rows="3" ng-wig="editor.text"></textarea>

    <div class="input-area-menu">
        <button class="publish" ng-click="editor.publish() || vm.collapse()" ng-disable-on-empty="editor.text">
            Publish
        </button>
        <a ng-click="vm.collapse()" href="" class="cancel">Cancel</a>
    </div>
</div>

